body {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;


    display: flex;
    flex-wrap: wrap;

}

.sketch-box {
    width: 640px;
    max-width: 640px;

    height: 480px;
    max-height: 480px;
}

.flex-square {
    background-color: white;

    /* 
        Flex Grow = 1 && Flex-Shrink = 0 
        But Flex-Basis and Height should be dynamic 
        depending on how many squares appear on the .flex-container
    */
    /* flex: 1 0 28px; */
    /* height: 28px; */

    border: 1px solid black;
    box-sizing: border-box; /*Makes the border come inside instead of outside*/
}

.hovered {
    background-color: blue !important;
}

.btn {
    cursor: pointer;
}