.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;


    display: flex;
    flex-wrap: wrap;

    width: 960px;
    height: 960px;
    max-width: 960px;
    max-height: 960px;
}

.flex-square {
    background-color: white;

    /* 
        Flex Grow = 1 && Flex-Shrink = 0 
        But Flex-Basis and Height should be dynamic 
        depending on how many squares appear on the .flex-container
    */
    /* flex: 1 0 28px; */
    /* height: 28px; */

    border: 1px solid black;
    box-sizing: border-box; /*Makes the border come inside instead of outside*/
}

.hovered {
    background-color: blue !important;
}